.demo-example {
	margin-bottom: 2em;
}

.demo-example>label {
	display: block;
	margin-bottom: 0.5em;
	font-weight: bold;
}

.dropbtn {
	background-color: Gainsboro;
	color: firebrick;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #b5bab5;
}

table {
	width: 100%;
	background-color: White
}

label {
	color: black;
	font-weight: normal;
	padding: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;	
}

.multi-select-container {
	display: inline-block;
	position: relative;
}

.multi-select-menu {
	position: absolute;
	left: 0;
	top: 0.8em;
	float: left;
	min-width: 100%;
	background: #fff;
	margin: 1em 0;
	padding: 0.4em 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	display: none;
}

.multi-select-menu input {
	margin-right: 0.3em;
	vertical-align: 0.1em;
}

.multi-select-button {
	display: inline-block;
	font-size: 0.875em;
	padding: 0.2em 0.6em;
	max-width: 20em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: -0.5em;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	cursor: default;
}

.multi-select-button:after {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0.4em 0.4em 0 0.4em;
	border-color: #999 transparent transparent transparent;
	margin-left: 0.4em;
	vertical-align: 0.1em;
}

.multi-select-container--open .multi-select-menu {
	display: block;
}

.multi-select-container--open .multi-select-button:after {
	border-width: 0 0.4em 0.4em 0.4em;
	border-color: transparent transparent #999 transparent;
}

